@import './_variables';

#create-point-page {
    height: 100vh;
}

#create-point-page {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
}

#create-point-page header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
    span {
        display: flex;
        background-image: url('../assets/arrow-left.svg');
        width: 24px;
        height: 24px;
    }
    a {
        align-items: center;
        display: flex;
        margin-left: 16px;
        color: $title-color;
        font-weight: 700;
    }
}