@media (max-width: 900px) {
    header img,
    header a {
        align-items: center;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    header a {
        bottom: 48px;
    }
    .container {
        align-items: center;
        text-align: center;
    }
    #home-page {
        background-position-x: 70vw;
        
        main {
            align-items: center;
        }
    }
}

@media (min-width: 1700px) {
    #home-page {
        background-position-x: 40vw;
    }
}

@media (max-height: 760px) {
    #home-page {
        background-position-y: 100px;
    }
}