@media (max-width: 900px) {
    .container {
        align-items: center;
        text-align: center;
    }
    #home-page {
        background-position-x: 70vw;
        
        main {
            align-items: center;
        }
    }
}

@media (min-width: 1700px) {
    #home-page {
        background-position-x: 40vw;
    }
}

@media (max-height: 760px) {
    #home-page {
        background-position-y: 100px;
    }
}